h1 {
    font-size: 40px;
    font-family: "Cinzel Decorative", "Tangerine", cursive;
    color: #2a2a2a;
    align-self: center;
    position: relative;
    left: 49%;
    text-shadow: 1px 1px 2px #333;
}

h2 {
    font-family: "Cinzel Decorative", "Tangerine", cursive;
}

body {
    max-width: 900px;
    background-color: gray;
}

p {
    font-family: Arial;
}

.logo {
    scale: 0.15;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    background-color: #6ece58;
    gap: 460px;
}

.menu {
    background-color: #70e550;
    border: 10px solid #6ece58;
    /* margin: 40px; */
    list-style: none;
    display: flex;
    padding: 25px;
    justify-content: center;
    gap: 70px;
    text-decoration: none;
    margin-top: -40px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

.gallery {
    background-color: #70e550;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 20px;
    padding: 21px;
    scale: 0.65;
    justify-content: right;
}

.intro {
    width: 500px;
    background-color: #70e550;
}

.footer {
    background-color: #6ece58;
    padding: 10px;
}